/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-sep-2021, 6:45:24
    Author     : Manuel Guillén Gallardo
*/

*{
    box-sizing: border-box;
    color: #262626;
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    /*at bottom right*/
   /* background: rgb(100,192,199);
    background: radial-gradient(at bottom right, rgba(100,192,199,1) 0%, rgb(1, 30, 109) 100%);*/
    background: #262626;
    display: flex;
    flex-direction: column;
}
header{
    align-items: center;
    background: radial-gradient(at top, rgba(153,178,195,1) 0%, rgba(104,150,181,1) 100%);
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
    display: flex;
    height: 90px;
    flex-direction: row;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
h1 > a{
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
    color: black;
    padding: 10px;
    text-decoration: none;
}
h1 > a:hover{
    box-shadow: none;
}
.logo-github{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.logo-github img{
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.5);
    padding: 10px;
    width: 150px;
    object-fit: cover;
}
.logo-github img:hover{
    box-shadow: none;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0 30px;
}
.caja{
    background: #06091B;
    box-shadow: 0 5px 20px rgb(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 10px;
    width: 600px;
}

form{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 40px 90px 40px;
    width: 580px;
}
h2, label, p{
    color: #f3f3f7;
    letter-spacing: 2px;
}
h2{
    font-size: 40px;
    margin-bottom:40px;
}
label, p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
input{
    outline-color: #203088;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 30px;
    padding: 10px;
}
.label-eleccion{
    font-weight: lighter;
    margin-right: 10px;
}
.enviar{
    background: #005CC8;
    border: 1px solid #aaaaaa;
    border-radius: 0px;
    color: white;
    cursor: pointer;
    font-size: 30px;
    margin:10px 0 0;
    padding: 15px;
}
.enviar:hover{
    box-shadow: none;
}
footer{
    align-items: center;
    background: #161616;
    border-top: 1px solid #dadada;
    display: flex;
    height: 120px;
    padding: 10px;
    width: 100%;
}
.info-pag{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}
.info-pag p{
    color: #dadada;
    font-size: 10px;
    font-weight: lighter;
    margin: 3px;
}